@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

body{
  margin: 0;
  padding: 0;

 
}

p{
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight:<weight>;
  font-style:normal;
}

button{
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight:<weight>;
  font-style:normal;
}

#carosoled{

& img{
  width: 300px;
}
}
#bgimge{
  background-image:url(" images/Ellipse 7.png") ;
  background-repeat: no-repeat;

}
@media only screen and (max-width: 990px) {
  #fromSection{
    width: 100% !important;
  }
  #form{
    justify-content: center !important;
  }
}